{% extends 'dh5bp/base.html' %}
{% load staticfiles %}
{% block title %}Combat{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}
{% block content %}

<div class="row">
  <table>
    <tr>
      <td width="20%">
	<table>
	  <tr>
	    <td>
	      <img src="{% static "combat/images/knight.png"%}" id="g1" style="position: relative; left: 10px;">
	      <p id="g1_hp">20</p>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <img src="{% static "combat/images/mage.png"%}" id="g2" style="position: relative; left: 10px;">
	      <p id="g2_hp">20</p>
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <img src="{% static "combat/images/healer.png"%}" id="g3" style="position: relative; left: 10px;">
	      <p id="g3_hp">20</p>
	    </td>
	  </tr>
	</table>
      </td>
      <td width="50%" id="middleDiv" >
	<div id="mainCard" class="big-card parent-vcenter"><p class="vcenter">&nbsp;</p></div>
<div class="row">
    <div id="answers" >
      <div class="card parent-vcenter" id="answer1"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer2"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer3"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer4"><p class="vcenter">&nbsp;</p></div>
    </div>
</div>
	
      </td>
      <td width="20%" id="rightDiv">
	<div class="row">
	  <img src="{% static "combat/images/thug.png"%}" id="b1" style="position: relative; left: 10px; transform: scaleX(-1);">
	  <p id="b1_hp">20</p>
	</div>
	<div class="row">
	  <img src="{% static "combat/images/thug.png"%}" id="b2" style="position: relative; left: 10px; transform: scaleX(-1);">
	  <p id="b2_hp">20</p>
	</div>
	<div class="row">
	  <img src="{% static "combat/images/thug.png"%}" id="b3" style="position: relative; left: 10px; transform: scaleX(-1);">
	  <p id="b3_hp">20</p>
	</div>
	<div class="row">
	  <img src="{% static "combat/images/thug.png"%}" id="b4" style="position: relative; left: 10px; transform: scaleX(-1);">
	  <p id="b4_hp">20</p>
	</div>
      </td>
    </tr>
  </table>
</div>

<div class="row">
  Score: <span id="score">0</span> <span id="message">&nbsp;</span>  
</div>
<div class="row">Distance remaining:<span id="distance">1000</span></div>

{% endblock %}

{% block post_main_script %}
<script>
  var score = 0;
  var goodguys = [{"name":"Sam","hp":20,"maxhp":20,"dmg":10,"class":"fighter","id":"g1"},
                  {"name":"Gwen","hp":12,"maxhp":12,"dmg":15,"class":"wizard","id":"g2"},
                  {"name":"Mommy","hp":16,"maxhp":18,"dmg":4,"class":"healer","id":"g3"},
  ];
  var badguys = [{"name":"BadGuy1","hp":10,"maxhp":10,"dmg":5,"class":"thug","id":"b1"},
  {"name":"BadGuy2","hp":10,"maxhp":10,"dmg":5,"class":"thug","id":"b2"},
  {"name":"BadGuy3","hp":10,"maxhp":10,"dmg":5,"class":"thug","id":"b3"},
  {"name":"BadGuyBoss","hp":20,"maxhp":20,"dmg":10,"class":"thugleader","id":"b4"}];

  var classes = {"thug":{"spritebase":"thug","spritetype":".png","attackFrames":3,"idleFrames":7,"damage":"single"},
                   "healer":{"spritebase":"healer","spritetype":".png","attackFrames":3,"idleFrames":0,"damage":"healteam"},
                   "wizard":{"spritebase":"mage","spritetype":".png","attackFrames":2,"idleFrames":0,"damage":"many"},
                   "fighter":{"spritebase":"knight","spritetype":".png","attackFrames":3,"idleFrames":11,"damage":"single"}};

   var flashcardURL = "{% url 'single-card'%}";
</script>
<script src="{% static "js/jquery.pulse.js"%}"></script>
<script src="{% static "js/flashcard.js" %}"></script>
<script src="{% static "combat/js/combat.js" %}"></script>

{% endblock %}

