{% extends 'dh5bp/base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Travel{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}
{% block content %}

<div class="row">
  <img src="{% static "images/frigate.png"%}" id="myship" style="position: relative; left: 10px;">
</div>
<div class="row">
  <div width="20%" id="leftDiv">&nbsp;</div>
  <div width="50%" id="middleDiv">
    <div id="mainCard" class="big-card parent-vcenter"><p class="vcenter">&nbsp;</p></div>
  </div>
  <div width="20%" id="rightDiv">&nbsp;</div>
</div>
<div class="row">
    <div id="answers" >
      <div class="card parent-vcenter" id="answer1"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer2"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer3"><p class="vcenter">&nbsp;</p></div>
      <div class="card parent-vcenter" id="answer4"><p class="vcenter">&nbsp;</p></div>
    </div>
</div>
<div class="row">
  Score: <span id="score">0</span> <span id="message">&nbsp;</span>  
</div>
<div class="row">Distance remaining:<span id="distance">1000</span></div>

{% endblock %}

{% block post_main_script %}
<script>
  var score = 0;
  var distance = 600;
</script>
<script src="{% static "js/jquery.textfit.min.js" %}"></script>
<script src="{% static "js/flashcard.js" %}"></script>
<script src="{% static "js/travel.js" %}"></script>

{% endblock %}
