{% extends 'dh5bp/base.html' %}
{% load staticfiles %}
{% block title %}Chrononaut Adventures{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
<link rel="stylesheet" href="{% static "css/leaflet.css" %}">
{% endblock %}
{% block content %}
<div class="row" id="header" style="width: 1024px">
<h4>Welcome to Chrononauts.  Please select your next adventure</h4>
</div>
<div class="row" id="map" style="width: 800px; height: 500px"></div>
 
    <script src="{% static "js/leaflet.js"%}"></script>

    <script>
      var map = L.map('map').setView([-77, -66], 2);
        L.tileLayer('{% static "maps/imgs/1600_map"%}/{z}/{x}/{y}.png', {
            minZoom: 2,
            maxZoom: 4,
            attribution: 'by anonymous Portuguese (1502) - Biblioteca Estense Universitaria, Modena, Italy',
            tms: true
      }).addTo(map);

      map.on('click', function(e) {
      //debug so we can pick points
      console.log(e.latlng);
      });

      var adventures = {{adventures|default:"[]"|safe}};
      var baseIconURL = "{% static "maps/imgs/"%}";
      
    </script>
    <script src="{% static "maps/js/map.js"%}"></script>
{% endblock %}
